<!DOCTYPE html>
<html>
<%- include('partials/_head.ejs') %>
<body>
    <%- include('partials/_header.ejs') %>
    <div class="container mt-4">
        <h1>Contact Us</h1>
        <p>If you have any inquiries, feel free to reach us at <a href="mailto:<%= email %>"><%= email %></a>.</p>
    </div>
    <%- include('partials/_footer.ejs') %>
    <script src="/js/main.js"></script>
</body>
</html>